In [21]:
print("hello mansi")

hello mansi

In [22]:
import pandas as pd
from io import StringIO,BytesIO

In [23]:
data = ('x,y,1\n'
       'a,b,2\n'
       'c,d,3')

In [24]:
print(data)

x,y,1
a,b,2
c,d,3

In [25]:
pd.read_csv(StringIO(data))

   x  y  1
0  a  b  2
1  c  d  3

In [26]:
df=pd.read_csv('mercedesbenz.csv')

In [27]:
df.head()

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,k,v,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0
1,6,88.53,k,t,av,e,d,y,l,o,...,1,0,0,0,0,0,0,0,0,0
2,7,76.26,az,w,n,c,d,x,j,x,...,0,0,0,0,0,0,1,0,0,0
3,9,80.62,az,t,n,f,d,x,l,e,...,0,0,0,0,0,0,0,0,0,0
4,13,78.02,az,v,n,f,d,h,d,n,...,0,0,0,0,0,0,0,0,0,0

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4209 entries, 0 to 4208
Columns: 378 entries, ID to X385
dtypes: float64(1), int64(369), object(8)
memory usage: 12.1+ MB

In [29]:
df.describe()

,ID,y,X10,X11,X12,X13,X14,X15,X16,X17,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
count,4209.000000,4209.000000,4209.000000,4209.0,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,...,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000
mean,4205.960798,100.669318,0.013305,0.0,0.075077,0.057971,0.428130,0.000475,0.002613,0.007603,...,0.318841,0.057258,0.314802,0.020670,0.009503,0.008078,0.007603,0.001663,0.000475,0.001426
std,2437.608688,12.679381,0.114590,0.0,0.263547,0.233716,0.494867,0.021796,0.051061,0.086872,...,0.466082,0.232363,0.464492,0.142294,0.097033,0.089524,0.086872,0.040752,0.021796,0.037734
min,0.000000,72.110000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2095.000000,90.820000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,4220.000000,99.150000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,6314.000000,109.010000,0.000000,0.0,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,...,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,8417.000000,265.320000,1.000000,0.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [30]:
df.head()

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,k,v,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0
1,6,88.53,k,t,av,e,d,y,l,o,...,1,0,0,0,0,0,0,0,0,0
2,7,76.26,az,w,n,c,d,x,j,x,...,0,0,0,0,0,0,1,0,0,0
3,9,80.62,az,t,n,f,d,x,l,e,...,0,0,0,0,0,0,0,0,0,0
4,13,78.02,az,v,n,f,d,h,d,n,...,0,0,0,0,0,0,0,0,0,0

In [31]:
df = pd.read_csv('https://download.bls.gov/pub/time.series/cu/cu.item',sep='\t')

URLError: <urlopen error [Errno 11001] getaddrinfo failed>

In [ ]:
df.head()

In [ ]:
df.info()

In [ ]:
df.describe()

In [32]:
df.shape

(4209, 378)

# #slicing the database

In [33]:
direct_df = {
    "index":[2000,2001,2002,2003],
    'int_rate':[1,2,3,4],
    'NDP':[80,45,89,70]
    
}   #that was a dictionary

In [34]:
df=pd.DataFrame(direct_df)

In [35]:
df

   index  int_rate  NDP
0   2000         1   80
1   2001         2   45
2   2002         3   89
3   2003         4   70

In [36]:
df.head(3)

   index  int_rate  NDP
0   2000         1   80
1   2001         2   45
2   2002         3   89

In [37]:
df.tail(2)     #last details tail of the dataframe

   index  int_rate  NDP
2   2002         3   89
3   2003         4   70

# ## merging and joining

In [38]:
df.shape

(4, 3)

In [39]:
direct_df2 = {
    "index":[2010,2011,2012,2013],
    'int_rate':[1,2,3,4],
    'NDP':[10,40,87,72]
    
}

In [40]:
df2 = pd.DataFrame(direct_df2)

In [41]:
df2

   index  int_rate  NDP
0   2010         1   10
1   2011         2   40
2   2012         3   87
3   2013         4   72

In [42]:
df

   index  int_rate  NDP
0   2000         1   80
1   2001         2   45
2   2002         3   89
3   2003         4   70

In [68]:
merge = pd.merge(df2,df,on='NDP')

In [69]:
merge

Empty DataFrame
Columns: [index_x, int_rate_x, NDP, index_y, int_rate_y]
Index: []

In [45]:
df3 = pd.DataFrame({
    "int_rate":[5,6,7],
    "GDP":[50,60,70],
    "index":[2001,2002,2003]
})

In [59]:
df4 = pd.DataFrame({
    "time_rate":[10,126,748],
    "HPI":[50.5,60.8,70.55],
    "index":[2001,2002,2003]
})

In [60]:
df3

   int_rate  GDP  index
0         5   50   2001
1         6   60   2002
2         7   70   2003

In [61]:
df4

   time_rate    HPI  index
0         10  50.50   2001
1        126  60.80   2002
2        748  70.55   2003

In [64]:
joint = df3.join(df4,on='GDP',lsuffix='_left', rsuffix='_right')

In [65]:
joint

   int_rate  GDP  index_left  time_rate  HPI  index_right
0         5   50        2001        NaN  NaN          NaN
1         6   60        2002        NaN  NaN          NaN
2         7   70        2003        NaN  NaN          NaN